
<%= render :template => 'layouts/user_menu' %>

<div>
  <%= t(:remove_intro) %>
</div>
<div>
  <script type="text/javascript">
	// <![CDATA[
	$(document).ready(function(){
	  $('#removeUID').click(function(){
		if (confirm("<%= t(:remove_warning) %>")) {
		  var ec = new evercookie();
		  ec.set('__peweproxy_uid', '');
		  location.href='/';
		}
		return false;
	  });
	});
	// ]]>
  </script>
  <a href="#" id="removeUID"><%=t(:remove_identifier_from_this_computer)%></a>
</div>