<div class="text">
  <h1>About Project</h1>
  <p>
    Adaptive proxy is a project which aims to create a platform for personalized
    and collaborative surfing on the Web and thus a platform for evaluating
    bachelor, diploma and dissertation projects (mainly, but not limited to)
    from the
    <a href="http://wiki.fiit.stuba.sk/research/seminars/pewe/" class="moreAbout"><span>PeWe group</span></a>.
  </p>
  <p>
    Our goal in this first stage is to create the first dataset of users'
    activity on the Web. You can help us with this. In turn, we will help you to
    improve your search, or simplify faculty website navigation.
  </p>

  <h2>Running projects</h2>
  <p>
    This page lists all projects, deployed on our proxy server, or projects that
    are planned to be deployed soon.We need lots of data to perfect our methods.
    Help us to get them. In turn, we'll help you to improve your Web experience.
  </p>


  <h3>Virtual communities identification (humans are social beasts)</h3>
  <%= image_tag("/images/about/communities.png", :align=>:right, :style => "margin-left: 30px; width: 300px;") %>
  <p>
    This project tries to extract virtual communities from the logs, that means
    finding people with similar interests. Virtual communities themselves are
    not very useful, but they provide a basis for another methods that work with
    feedback (like recommendations)
  </p>
  <p>
    We have proposed a method that tracks various aspects of the users with
    (any) web system (what he searches, when he searches). Based on this data we
    calculate similarities, or rather similar interactions, what allows us to
    discover groups of very similar interactions of various people and finally,
    the groups that behave similarly.
  </p>

  <h3>Search enhancement (you will be finding pages more quickly)</h3>
  <%= image_tag("/images/about/google.png", :align=>:left, :style => "margin-right: 30px; width: 350px;") %>
  <p>
    How often do you enter keywords into Google, click "Search" and something
    completely different pops out than you expected?
    <a title="c strings" href="http://www.google.com/webhp?hl=en#&q=c+strings"><span>It</span></a>
    <a title="passenger" href="http://www.google.com/webhp?hl=en#&q=passenger"><span>happens a</span></a>
    <a title="jaguar" href="http://www.google.com/webhp?hl=en#&q=jaguar"><span>lot</span></a>
    <a title="cucumber" href="http://www.google.com/webhp?hl=en#&q=cucumber"><span>to us</span></a>.
  </p>
  <p>
    We proposed a method, which can enrich your original query with additional
    keywords,
    <a title="passenger+apache" href="http://www.google.com/webhp?hl=en#&q=passenger+apache">which</a>
    <a title="context+typesetting" href="http://www.google.com/webhp?hl=en#&q=context+typesetting">narrow</a>
    <a title="jaguar console" href="http://www.google.com/webhp?hl=en#&q=jaguar+console">your</a>
    <a title="cucumber testing" href="http://www.google.com/webhp?hl=en#&q=cucumber+testing">search</a>.
    We need to know about your interests in order to link you into a social
    network and help you based on the activity of the persons most similar to
    you.
  </p>

  <br/><br/><br/><br/>

  <h3>Improved faculty website navigation (you are not the first one on that page)</h3>
  <%= image_tag("/images/about/fiit.png", :align=>:right, :style => "margin-left: 30px; width: 350px;") %>
  <p>
    We don't know many people who are satisfied with our faculty website.
    Exactly the opposite, many people cannot find the information quickly and
    effectively. Informations about events and actions are scattered through the
    site and one can get lost very quickly.
  </p>
  <p>
    We think we have a solution to this problem. A method that analyses usage of
    the faculty website, detects trends (information that most users are looking
    for at the same time span) and we can serve the visitors a navigational
    menu, that will just "fit". Also you can help us to find and evaluate the
    right methods and help us improve our faculty website.
  </p>

</div>
