<div class="text">
  <h1>O projekte</h1>
  <p>
    Adaptívny proxy server je projekt, ktorý má za cieľ vytvoriť platformu pre
    personalizované, kolaboratívne surfovanie na webe a tým pádom platformu pre
    vyhodnocovanie niektorých bakalárskych, diplomových a dizertačných prác
    (najmä, ale nielen) zo skupiny
    <a href="http://wiki.fiit.stuba.sk/research/seminars/pewe/"><span>PeWe</span></a>.
  </p>
  <p>
    V tejto prvej verejnej fáze máme za cieľ odladiť implementáciu a
    konfiguráciu proxy servera a vytvoriť prvú dátovú sadu logov surfovania na
    webe (zaznamenávame čas, URLku a kľúčové slová). V tom nám môžeš pomôcť aj
    Ty. My Ti na oplátku pomôžeme zefektívniť vyhľadávanie, či navigáciu po
    stránke fakulty.
  </p>

  <h2>Spustené projekty</h2>
  <p>
    Na tejto podstránke nájdeš stručný opis projektov, ktoré sú nasadené na
    našom proxy serveri alebo ich plánujeme spustiť v dohľadnej dobe. Pre
    úspešné doladenie našich metód však potrebujeme dostatok testovacích dát.
    Pomôž nám ich získať. Dúfame, že Ti za to potom na oplátku poskytneme
    zaujímavé vylepšenia webu.
  </p>
 
  <h3>Identifikácia virtuálnych komunít (pretože človek je tvor sociálny)</h3>
  <%= image_tag("/images/about/communities.png", :align=>:right, :style => "margin-left: 30px; width: 300px;") %>
  <p>
    Tento projekt má za cieľ extrahovať zo zaznamenaných dát virtuálne komunity,
    teda spájať ľudí s podobnými záujmami. Virtuálne komunity samé o sebe nie sú
    veľmi užitočné, ale predstavujú dôležitý základ pre ďalšie metódy, ktoré
    pracujú so sociálnymi väzbami (napr. odporúčanie).
  </p>
  <p>
    Navrhli sme teda metódu, ktorá sleduje rôzne aspekty interakcií používateľov
    s (v zásade hocijakým) webovým systémom (čo človek hľadá, kedy to hľadá). Na
    základe týchto údajov následne vypočítavam podobnosti resp. súvislosti
    interakcií, čo umožňuje odhaľovať skupiny veľmi podobných interakcií rôznych
    ľudí, a v konečnom dôsledku aj skupiny ľudí čo "vyhľadávajú podobne".
  </p>
  <p>
    Momentálne potrebujeme overiť, či naša metóda "rozdeľuje správnych ľudí do
    správnych škatuliek". Používaj proxy server, surfuj na webe tak ako doteraz
    a my sa Ťa v istom okamihu spýtame, či sme sa trafili dobre. Dobre
    identifikované virtuálne komunity využijeme pre zlepšenie vyhľadávania v
    ďalšom pripravonam projekte, o ktorom sa dočítaš nižšie.
  </p>

  <h3>Zlepšenie vyhľadávania (rýchlejšie nájdeš to čo hľadáš)</h3>
  <%= image_tag("/images/about/google.png", :align=>:left, :style => "margin-right: 30px; width: 350px;") %>
  <p>
    Ako často sa Ti stáva že do Googlu napíšeš kľúčové slová, stlačíš tlačídlo
    "Hľadať" a zobrazí sa Ti niečo úplne iné ako čakáš?
    <a title="c strings" href="http://www.google.com/webhp?hl=en#&q=c+strings"><span>Nám</span></a>
    <a title="passenger" href="http://www.google.com/webhp?hl=en#&q=passenger"><span>sa to</span></a>
    <a title="jaguar" href="http://www.google.com/webhp?hl=en#&q=jaguar"><span>stáva</span></a>
    <a title="cucumber" href="http://www.google.com/webhp?hl=en#&q=cucumber"><span>často</span></a>.
  </p>
  <p>
    Vymysleli sme preto metódu, pomocou ktorej dokážeme do zadaných kľúčových
    slov doplniť ďalšie kľúčové slová, ktoré
    <a title="passenger+apache" href="http://www.google.com/webhp?hl=en#&q=passenger+apache">tvoj</a>
    <a title="context+typesetting" href="http://www.google.com/webhp?hl=en#&q=context+typesetting">pôvodný</a>
    <a title="jaguar console" href="http://www.google.com/webhp?hl=en#&q=jaguar+console">dopyt</a>
    <a title="cucumber testing" href="http://www.google.com/webhp?hl=en#&q=cucumber+testing">spresnia</a>.
    Na to, aby sme vedeli doplniť správne kľúčové slová, potrebujeme spoznať
    Tvoje záujmy. Pomocou nich Ťa totiž zapojíme do sociálnej siete a na základe
    aktivity blízkych osôb v Tvojej sieti Ti dokážeme pomôcť pri vyhľadávaní.
  </p>

  <br/><br/><br/>

  <h3>Vylepšenie navigácie na webovom sídle našej fakulty (využi to, že niekto to už našiel pred Tebou)</h3>
  <%= image_tag("/images/about/fiit.png", :align=>:right, :style => "margin-left: 30px; width: 350px;") %>
  <p>
    Poznáme len málo ľudí, ktorí by boli spokojní s našim fakultným webom.
    Naopak, veľa ľudí má problém nájsť rýchlo a efektívne tie správne informácie
    o tom, ako sa má odovzdávať záverečný projekt, kedy začína skúškové obdobie
    a v ktorý utorok sa učí ako vo štvrtok. Informácie o rôznych akciách a
    udalostiach sú na webe roztrieštené a človek sa v nich ľahko stratí.
  </p>
  <p>
    Myslíme si, že máme riešenie tohto problému. Metódu, ktorá analyzuje
    používanie fakultného webu, zisťuje trendy (sú informácie, ktoré hľadajú
    takmer všetci v rovnakom časovom období) a dokáže návštevníkom naservírovať
    také navigačné menu, ktoré im skrátka "sadne". A práve Ty môžeš pomôcť pri
    tom, aby sme našli a overili tie správne metódy, a pomohol si aj Ty k
    zlepšeniu nášho webového sídla.
  </p>
</div>


