<div class="text">
  <h1>About Project</h1>
  <p>
    Adaptive proxy is a project which aims to create a platform for personalized
    and collaborative surfing on the Web and thus a platform for evaluating
    bachelor, diploma and dissertation projects (mainly, but not limited to)
    from the
    <a href="http://wiki.fiit.stuba.sk/research/seminars/pewe/" class="moreAbout"><span>PeWe group</span></a>.
  </p>
  <p>
    Our goal in this first stage is to create the first dataset of users'
    activity on the Web. You can help us with this. In turn, we will help you to
    improve your search, or simplify faculty website navigation.
  </p>

  <h2>Running projects</h2>

  <h3>Virtual communities identification</h3>
  <p>
    This project tries to extract virtual communities from the logs, that means
    finding people with similar interests. Virtual communities themselves are
    not very useful, but they provide a basis for another methods that work with
    feedback (like recommendations)
  </p>
  <p>
    We have proposed a method that tracks various aspects of the users with
    (any) web system (what he searches, when he searches). Based on this data we
    calculate similarities, or rather similar interactions, what allows us to
    discover groups of very similar interactions of various people and finally,
    the groups that behave similarly.
  </p>


</div>
