<h1>Začať používať PeWe Proxy</h1>

<script type="text/javascript">
  
  // <![CDATA[
  
  $(document).ready(function(){
	$("div.browserSelector ul li a").click(function(){
	  $(this).blur();

	  $("div.setupContentWrapper div.selected").removeClass("selected");
	  $("div.setupContentWrapper div."+$(this).parent().attr("class").split(/\s+/)[0]).addClass("selected");

	  $(".browserSelector ul li.selected").removeClass("selected");
	  $(this).parent().addClass("selected");
	  return false;
	});
  });
  
  // ]]>
  
</script>

<div class="comment">
  Začať používať PeWe Proxy je otázkou okamihu. Jediné čo potrebujete urobiť je povedať vášmu webovému prehliadaču, aby ku stránkam pristupoval cez PeWe Proxy. Riaaďte sa pokynmi nižšie.
</div>
<div class="setupContent">
  <br class="floatCleaner" />
  <div class="browserSelector">
	<ul>
	  <li class="firefox selected"><a href="#1" title="Mozilla Firefox"></a></li>
	  <li class="chrome"><a href="#2" title="Google Chrome"></a></li>
	  <li class="explorer"><a href="#3" title="Internet Explorer"></a></li>
	  <li class="opera"><a href="#4" title="Opera"></a></li>
	  <li class="safari"><a href="#5" title="Safari"></a></li>
	  <li class="other"><a href="#6"></a></li>
	</ul>
  </div>
  <div class="setupContentWrapper">
	<div class="browser firefox selected">
              <ol>
                <li>
                    V menu klikni na <strong>Možnosti (Options)</strong>
                    <img src="/images/setup_ff/step_1.png" alt="step_1" />
                </li>
                <li>
                    V otvorenom okne klikni na záložku <strong>Spresnenie (Advanced)</strong>
                </li>
                <li>
                    Zvoľ záložku <strong>Sieť (Network)</strong>
                </li>
                <li>
                    V sekcii <strong>Pripojenie (Connection)</strong> klikni na tlačidlo <strong>Nastavenia (Settings)</strong>
                    <img src="/images/setup_ff/step_2.png" alt="step_2-4" />
                </li>
                <li>
                    V okne <strong>Nastavenia pripojenia (Connection settings)</strong> zvoľ možnosť <strong>Automatická konfigurácia proxy (Automatic proxy configuration URL)</strong>
                </li>
                <li>
                    Do poľa označeného číslom 6 vlož túto adresu: <input type="text" class="pac" readonly="readonly" value="http://peweproxy.fiit.stuba.sk/proxy.pac" />
                    <img src="/images/setup_ff/step_3.png" alt="step_5-6" />
                </li>
                <li>
                    Nezabudni si nastaviť identifikátor
                </li>
              </ol>
        </div>
	<div class="browser chrome">
              <ol>
                <li>
                    Klikni v menu na položku <strong>Možnosti (Options)</strong>
                    <img src="/images/setup_chrome/step_1.png" alt="step_1" />
                </li>
                <li>
                    V možnostiach klikni na položku <strong>Pod kapotou (Advanced)</strong>
                </li>
                <li>
                    V časti <strong>Sieť (Network)</strong> klikni na <strong>Zmeniť nastavenia proxy... (Zmeniť nastavenia proxy...)</strong>
                    <img src="/images/setup_chrome/step_2.png" alt="step_2-3" />
                </li>
                <li>
                    Pod záložkou <strong>Pripojenia (Connections)</strong> klikni na tlačidlo <strong>Nastavenia LAN (LAN settings)</strong>
                    <img src="/images/setup_chrome/step_3.png" alt="step_4-5" />
                </li>
                <li>
                    V okne <strong>Nastavenia LAN (LAN settings)</strong> zvoľ možnosť <strong>Použiť automatickú konfigurácia skriptom (Use automatic configuration script)</strong>
                </li>
                <li>
                    Do poľa označeného číslom 6 vlož túto adresu: <input type="text" class="pac" readonly="readonly" value="http://peweproxy.fiit.stuba.sk/proxy.pac" />
                    <img src="/images/setup_chrome/step_4.png" alt="step_5-6" />
                </li>
                <li>
                    Nezabudni si nastaviť identifikátor
                </li>
              </ol>
        </div>
	<div class="browser explorer">
              <ol>
                <li>
                    V hlavnom menu klikni na  <strong>Nastavenia Internetu (Internet Options)</strong>
                    <img src="/images/setup_ie/step_1.png" alt="step_1" />
                </li>
                <li>
                    V otvorenom okne klikni na záložku <strong>Pripojenia (Connections)</strong>
                    <img src="/images/setup_ie/step_2.png" alt="step_2" />
                </li>
                <li>
                    Pod záložkou <strong>Pripojenia (Connections)</strong> klikni na tlačidlo <strong>Nastavenia LAN (LAN settings)</strong>
                    <img src="/images/setup_ie/step_3.png" alt="step_3" />
                </li>
                <li>
                    V okne <strong>Nastavenia LAN (LAN settings)</strong> zvoľ možnosť <strong>Použiť automatickú konfigurácia skriptom (Use automatic configuration script)</strong>
                </li>
                <li>
                    Do poľa označeného číslom 6 vlož túto adresu: <input type="text" class="pac" readonly="readonly" value="http://peweproxy.fiit.stuba.sk/proxy.pac" />
                    <img src="/images/setup_ie/step_4.png" alt="step_4-5" />
                </li>
                <li>
                    Nezabudni si nastaviť identifikátor
                </li>
              </ol>
        </div>
	<div class="browser opera">
              <ol>
                <li>
                    V hlavnom menu klikni na <strong>Nastavenia (Preferences...)</strong>
                    <img src="/images/setup_opera/step_1.png" alt="step_1" />
                </li>
                <li>
                    V otvorenom okne klikni na záložku <strong>Pokročilé (Advanced)</strong>
                    <img src="/images/setup_opera/step_2.png" alt="step_2" />
                </li>
                <li>
                    Vyber položku <strong>Sieť (Network)</strong>
                </li>
                <li>
                    Klikni na tlačidlo <strong>Serveri proxy (Proxy Servers...)</strong>
                    <img src="/images/setup_opera/step_3.png" alt="step_3-4" />
                </li>
                <li>
                    Zvoľ možnosť <strong>Použiť automatickú konfigurácia proxy (Use automatic proxy configuration)</strong>
                </li>
                <li>
                    Do poľa označeného číslom 6 vlož túto adresu: <input type="text" class="pac" readonly="readonly" value="http://peweproxy.fiit.stuba.sk/proxy.pac" />
                    <img src="/images/setup_opera/step_4.png" alt="step_5-6" />
                </li>
                <li>
                    Nezabudni si nastaviť identifikátor
                </li>
              </ol>
        </div>
	<div class="browser safari">
              <ol>
                <li>
                    Klikni v menu na položku <strong>Nastavenia (Preferences...)</strong>
                    <img src="/images/setup_safari/step_1.png" alt="step_1" />
                </li>
                <li>
                    V okne nastavení vyberte záložku <strong>Pokročilé (Advanced)</strong>
                </li>
                <li>
                    Kliknite na tlačidlo <strong>Zmeniž nastavenia (Change Settings...)</strong>
                    <img src="/images/setup_safari/step_2.png" alt="step_2" />
                </li>
                <li>
                    Vyberte záložkou <strong>Pripojenia (Connections)</strong>
                    <img src="/images/setup_safari/step_3.png" alt="step_3" />
                </li>
                <li>
                    Klikni na tlačidlo <strong>Nastavenia LAN (LAN settings)</strong>
                    <img src="/images/setup_safari/step_4.png" alt="step_4" />
                </li>
                <li>
                    V okne <strong>Nastavenia LAN (LAN settings)</strong> zvoľ možnosť <strong>Použiť automatickú konfigurácia skriptom (Use automatic configuration script)</strong>
                </li>
                <li>
                    Do poľa označeného číslom 7 vlož túto adresu: <input type="text" class="pac" readonly="readonly" value="http://peweproxy.fiit.stuba.sk/proxy.pac" />
                    <img src="/images/setup_safari/step_5.png" alt="step_5-6" />
                </li>
                <li>
                    Nezabudni si nastaviť identifikátor
                </li>
              </ol>
        </div>
	<div class="browser other">
          Odporúčame Ti nastaviť proxy server pomocou .pac súboru. Skopíruj adresu z tohto textového poľa <input type="text" class="pac" readonly="readonly" value="http://peweproxy.fiit.stuba.sk/proxy.pac" /> a v nastaveniach svojho prehliadača nakonfiguruj proxy.
          <br />Ak tvoj prehliadač nepodporuje konfiguráciu pomocou .pac súborov, môžeš použiť priame nastavenie proxy: <input type="text" class="pac" readonly="readonly" value="http://peweproxy.fiit.stuba.sk:9666" />
        </div>

  </div>
  <br class="floatCleaner" />
</div>
<br class="floatCleaner" />