<h1>Začať používať PeWe Proxy</h1>

<script type="text/javascript">
  
  // <![CDATA[
  
  $(document).ready(function(){
	$("div.browserSelector ul li a").click(function(){
	  $(this).blur();

	  $("div.setupContentWrapper div.selected").removeClass("selected");
	  $("div.setupContentWrapper div."+$(this).parent().attr("class").split(/\s+/)[0]).addClass("selected");

	  $(".browserSelector ul li.selected").removeClass("selected");
	  $(this).parent().addClass("selected");
	  return false;
	});
  });
  
  // ]]>
  
</script>

<div class="comment">
  Začať používať PeWe Proxy je otázkou okamihu. Jediné čo potrebujete urobiť je povedať vášmu webovému prehliadaču, aby ku stránkam pristupoval cez PeWe Proxy. Riaaďte sa pokynmi nižšie.
</div>
<div class="setupContent">
  <br class="floatCleaner" />
  <div class="browserSelector">
	<ul>
	  <li class="firefox selected"><a href="#1"></a></li>
	  <li class="chrome"><a href="#2"></a></li>
	  <li class="explorer"><a href="#3"></a></li>
	  <li class="opera"><a href="#4"></a></li>
	  <li class="safari"><a href="#5"></a></li>
	  <li class="other"><a href="#6"></a></li>
	</ul>
  </div>
  <div class="setupContentWrapper">
	<div class="browser firefox selected">firefox</div>
	<div class="browser chrome">chrome</div>
	<div class="browser explorer">explorer</div>
	<div class="browser opera">opera</div>
	<div class="browser safari">safari</div>
	<div class="browser other">other</div>

  </div>
  <br class="floatCleaner" />
</div>
<br class="floatCleaner" />