<div class="text">
	<h1>Do you want to help?</h1>
	<p>PeWe Proxy is an open-source project and your help is welcome.</p>
	<p>Whether you are a programmer, developer or researcher, there are many ways you can contribute:</p>
	<ol>
		<li>Follow current tasks in <a href="https://redmine.fiit.stuba.sk/projects/proxy">Redmine</a></li>
		<li>Follow the changes or pull whole source code from our <a href="http://gitbus.fiit.stuba.sk/pewe-proxy-team-project">GIT repository</a></li>
		<li>For further information please contact project supervisor <strong>Tomáš Kramár</strong> (<a href="mailto:kramar@fiit.stuba.sk">kramar@fiit.stuba.sk</a>)</li>
	</ol>
	<p>If you are not a programmer, you can help us by using the proxy and recommending it to your friends. The more date proxy collects the better
         it becomes and we can develop new methods of personalization.</p>
</div>
