<div class="text">
	<h1>Chcete pomôcť?</h1>
	<p>PeWe Proxy je open-source projekt a každá pomoc je vítaná.</p>
	<p>Ak ste programátor, vývojár, alebo výskumník, je viac spôsobov ako nám môžete pomôcť, alebo sa do projektu zapojiť, či sledovať jeho progres:</p>
	<ol>
		<li>Sledujte úlohy, na ktorých sa pracuje v našom <a href="https://redmine.fiit.stuba.sk/projects/proxy">Remine</a></li>
		<li>Sledujte zmeny, alebo si stiahnite celý zdrojový kód z nášho <a href="http://gitbus.fiit.stuba.sk/pewe-proxy-team-project">GIT repozitári</a></li>
		<li>V prípade záujmu o bližšiu spoluprácu napíšete vedúcemu projektu: <strong>Tomáš Kramár</strong> (<a href="mailto:kramar@fiit.stuba.sk">kramar@fiit.stuba.sk</a>)</li>
	</ol>
	<p>Ak nie ste programátor, môžete nám pomôcť jednoducho: používajte PeWe Proxy a odporúčajte ho svojim priateľom. Čím viac
	má náš proxy server dát, tým viac ho vieme vylepšovať a vymýšľať nové metódy personalizácie webu.</p>
</div>
