<div class="text">
  <h1>Frequently Asked Questions</h1>
  <h3>So, what's that proxy?</h3>
  <p>
        Proxy server lays in the middle between your computer and the Internet.
        If you use a proxy server, every request that you send, and all the data you receive
        go through it and can be affected by it. Proxy servers are commonly used, e.g. as
        security or optimizing elements. The PeWe Proxy can to the web some very useful
        information so browsing the web becomes a social event.
  </p>

  <h3>Do you guarantee my privacy protection?</h3>
  <%= image_tag("/images/lock.png", :align=>:right, :style => "margin-left: 20px; width: 130px;") %>
  <p>
	<strong>You don't have to worry about your privacy.</strong>. We need to know some
        special details so we can enhance your browsing. We record some information about your
        activity on the web - the page you visited along with date and time of access. This
        information is assigned to your randomly generated identifier. <strong>All the data is
        anonymous</strong>, even we cannot assign you to your identifier, if you don't want to.
  </p>
  <p>
	We record only URL of page you visit, <strong>we don't keep any other information that your
        browser send</strong>, e.g. content of forms. If you set up your proxy settings as proposed,
        secure requests will never go through our proxy, (e.g. internet banking login request)
        all this requests will be bypassed. If you are using Firefox browser, you can even customize
        which page to use proxy with.
  </p>

  <h3>Will you, please, add some more questions?</h3>
  <p>Sure, we are working hard(ly) on that :)</p>
</div>