<div class="text">
  <h1>Frequently Asked Questions</h1>
  <h3>So, what's that proxy?</h3>
  <p>
        Proxy server lays in the middle between your computer and the Internet.
        If you use a proxy server, every request that you send, and all the data you receive
        go through it and can be affected by it. Proxy servers are commonly used, e.g. as
        security or optimizing elements. The PeWe Proxy can to the web some very useful
        information so browsing the web becomes a social event.
  </p>

  <h3>Do you guarantee my privacy protection?</h3>
  <%= image_tag("/images/lock.png", :align=>:right, :style => "margin-left: 20px; width: 130px;") %>
  <p>
        <strong>You don't need to worry about your privacy.</strong> We need to know a little
        bit about you in order to improve and personalize your Web experience, so we log part
        of your activity on the Web — the Web page address and time of your visit. This information
        is linked with your randomly generated identifier. <strong>Your data is completely
        anonymous</strong>, we cannot link your random identifier back to you (at least not without
        your help)

  </p>
  <p>
	Proxy logs just the visited URL address, <strong>we don't store the actual Web site content or the
        messages your browser is sending</strong> (like the content of the forms). If you setup the proxy
        using our guide, then it will <strong>never be used</strong> to access secure (https) websites,
        like login forms or Internet Banking - your browser will always connect directly to these pages.
        If you are browsing through Firefox, you can setup your own customized list of pages where proxy
        will never be used.
  </p>

  <h3>Will you, please, add some more questions?</h3>
  <p>Sure, we are working hard(ly) on that :)</p>
</div>