<div class="pageBackground">
    <div class="pageWrapper">
        <div id="page">
            <div id="header">
                <div class="headerProxyButton">
                    <a class="useProxyButton" href="#"><span class="textWrapper">Chcem používať PeWe Proxy</span></a>
                </div>
                <a id="proxyLogo" href="#"><img src="./images/proxyLogo.png" title="" alt="Proxy logo" /></a>
                <div id="headerMenu">
                    <ul>
                        <li class="firstItem selected"><a href="#">Pewe Proxy</a></li>
                        <li><a href="#">O projekte</a></li>
                        <li><a href="#">Súkromie</a></li>
                        <li><a href="#">Časté otázky</a></li>
                        <li><a href="#">Chcem pomôcť</a></li>
                    </ul>
                </div>
            </div>

            <div class="pageBody">
                <h1>Prečo používať PeWe Proxy?</h1>




                <div id="carousel">
                    <div id="slides">
                        <ul class="slideList">
                                <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <img src="./images/discussionShot.png" alt="" title="" />
                                        <div class="textContent">
                                            <h2>PeWe Proxy je <span>sociálny</span></h2>
                                            PeWe Proxy ponúka funkcie, vďaka ktorým máte bližšie k ostatným používateľom webu
                                            <ul>
                                                <li>komunikujte s používateľmi PeWe Proxy o stránkach</li>
                                                <li>sledujte kde to práve "žije"</li>
                                            </ul>
                                            <a href="#" class="moreAbout"><span>Zistiť viac</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <img src="./images/discussionShot.png" alt="" title="" />
                                        <div class="textContent">
                                            <h2>PeWe Proxy je <span>sociálny</span></h2>
                                            PeWe Proxy ponúka funkcie, vďaka ktorým máte bližšie k ostatným používateľom webu
                                            <ul>
                                                <li>komunikujte s používateľmi PeWe Proxy o stránkach</li>
                                                <li>sledujte kde to práve "žije"</li>
                                            </ul>
                                            <a href="#" class="moreAbout"><span>Zistiť viac</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <img src="./images/discussionShot.png" alt="" title="" />
                                        <div class="textContent">
                                            <h2>PeWe Proxy je <span>sociálny</span></h2>
                                            PeWe Proxy ponúka funkcie, vďaka ktorým máte bližšie k ostatným používateľom webu
                                            <ul>
                                                <li>komunikujte s používateľmi PeWe Proxy o stránkach</li>
                                                <li>sledujte kde to práve "žije"</li>
                                            </ul>
                                            <a href="#" class="moreAbout"><span>Zistiť viac</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="slide">
                                    <div class="slideInnerBox" id="socialProxy">
                                        <img src="./images/discussionShot.png" alt="" title="" />
                                        <div class="textContent">
                                            <h2>PeWe Proxy je <span>sociálny</span></h2>
                                            PeWe Proxy ponúka funkcie, vďaka ktorým máte bližšie k ostatným používateľom webu
                                            <ul>
                                                <li>komunikujte s používateľmi PeWe Proxy o stránkach</li>
                                                <li>sledujte kde to práve "žije"</li>
                                            </ul>
                                            <a href="#" class="moreAbout"><span>Zistiť viac</span></a>
                                        </div>
                                    </div>
                                </li>
                        </ul>
                        <div class="floatCleaner"></div>
                    </div>
                    <a href="#" id="prev"><img src="./images/carouselLeftArrow.png" alt="" /></a>
                    <a href="#" id="next"><img src="./images/carouselRightArrow.png" alt="" /></a>
                </div>





                <div class="middleBox aboutProxy">
                    <h2>Aký je PeWe Proxy?</h2>
                    <div class="contentBlockWide">
                        <div class="fastProxy">
                            <h3>Rýchly</h3>
                            <ul>
                                <li>prioritou je obsah, ktorý na webe hľadáte</li>
                                <li>stránky prenášame tak rýchlo ako sa len dá a všetky ostatné operácie, ktoré súp použité na zlepšenie webu súracovávame na pozadí, dávno po tom čo je stránka načítaná vo Vašom prehliadači</li>
                                <li>predtým ako PeWe Proxy odošle stránku k Vám, skomprimuje ju a tak prenášate menej dát</li>
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="halfSizeBlock contentBlockRight openProxy">
                            <div>
                                <h3>Otvorený svetu</h3>
                                <p>PeWe Proxy je open-source projekt, do ktorého môžete prispieť aj Vy.</p>
                                <ul>
                                    <li>Chcete prispieť? Pozrite si sekciu <a href="#">“Chcem pomôcť”</a></li>
                                    <li>Prezrite alebo si stiahnite zdrojové kódy z <a href="#">našich repozitárov</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="halfSizeBlock contentBlockLeft compatibleProxy">
                            <div>
                                <h3>Kompatibilný</h3>
                                <p>PeWe Proxy je optimalizovaný tak, aby svoje funkcie poskytoval rovnako kvalitne vo všetkých najpoužívanejších prehliadačoch.</p>
                                <ul>
                                    <li class="firstItem"><img src="./images/firefoxLogo.png" title="Firefox" alt="Firefox" /></li>
                                    <li><img src="./images/chromeLogo.png" title="Chrome" alt="Chrome" /></li>
                                    <li><img src="./images/ieLogo.png" title="Internet Explorer" alt="Internet Explorer" /></li>
                                    <li><img src="./images/operaLogo.png" title="Opera" alt="Opera" /></li>
                                    <li><img src="./images/safariLogo.png" title="Safari" alt="Safari" /></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="halfSizeBlock contentBlockRight easyProxy">
                            <div>
                                <h3>Jednoduchý na používanie</h3>
                                <p>PeWe proxy dokáže používať každý. Používateľské rozhrania sú dizajnovo čisté a prehľadné.</p>
                                <p class="shortBlock">Presvedčte sa sami a <a href="#">začnite používať PeWe proxy</a> už dnes!</p>
                            </div>
                        </div>
                        <div class="halfSizeBlock contentBlockLeft distributedProxy">
                            <div>
                                <h3>Distribuovaný = spoľahlivý</h3>
                                <p>PeWe proxy nie je jeden server, je to celý distribuovaný systém. Jednotlivé servre sú rozmiestnené v rôznych mestách. V prípade výpadku jedného servera sa o požiadavky postarajú ostatné, takže sa nemusíte báť, že by ste prišli o výhody poskytujúce PeWe proxy.</p>
                            </div>
                        </div>
                    </div>
                    <br class="floatCleaner" />
                </div>
                <h2>Ako to funguje?</h2>
                <div id="proxySchemaBox"><img src="./images/proxySchema.png" title="" alt="" /></div>

                <h2 id="finalMoto"><span>PeWe Proxy</span> stránku cestou k vám <span>vylepší</span>, <span>obohatí</span><br /> a ešte omnoho viac!</h2>
                <div class="bottomProxyButton">
                    <a class="useProxyButton" href="#"><span class="textWrapper">Chcem používať PeWe Proxy</span></a>
                </div>

            </div>
        </div>

        <div id="footer">
            <div class="copyright">
                ©2011<br />
                <br />
                webdesign by i<br />
                web by team 13
            </div>
            <div class="fiitAddress">
                <img src="./images/fiitLogoOrange.png" alt="" title="" />
                <div>
                    <p class="address">
                        projekt je vyvíjaný pod záštitou FIIT STU <br />
                        Ilkovičova 3, <br />
                        842 16 Bratislava 4
                    </p>
                    <p class="url">
                        www.fiit.stuba.sk
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
