<div class="text">
  <%= image_tag("/images/lock.png", :align=>:right, :style => "margin-left: 20px; width: 130px;") %>
  <h1>Súkromie</h1>
  <p>
	<strong>O svoje súkromie sa báť nemusíš</strong>. Aby nami navrhované vylepšené surfovanie
	na webe mohlo fungovať, potrebujeme vedieť kúsok viac o Tebe a o Tvojich
	záujmoch. Preto zaznamenávame časť Tvojej aktivity na webe — adresu stránky
	na ktorej si bol spolu s časom návštevy. Tieto informácie spojíme s Tvojím
	náhodne vygenerovaným identifikátorom. <strong>Údaje sú anonymné</strong>, Tvoj číselný
	identifikátor k Tvojej osobe priradiť bez Tvojej pomoci nedokážeme.
  </p>
  <p>
	Proxy zaznamenáva iba navštívenú URL adresu, <strong>nezaznamenávame si samotný
	  obsah správ, ktoré Tvoj prehliadač posiela do Internetu</strong> (napr. obsah
	formulárov). Ak si nastavíš proxy podľa našich inštrukcií, tak sa nikdy
	nepoužije na prístup k stránkam zabezpečeným protokolom https, teda k
	prihlasovacím formulárom alebo internet bankingu - na takéto stránky
	sa Tvoj prehliadač pripojí vždy priamo. Ak používaš prehliadač Firefox,
	môžeš si dokonca nastaviť stránky, na ktorých sa proxy nemá použiť.
  </p>
</div>