<div class="accountMenu">
  <%= render :template => 'layouts/user_menu' %>

  <div class="contentWrapper">

	<div class="topEmptySpace"></div>
	<div class="content">
	  <div style="padding: 50px 0 50px 0">
	  ... heh, todo :) ...
	  </div>

	</div>
	<div class="bottomEmptySpace"></div>
  </div>
  <br class="floatCleaner" />
</div>