<div class="userMenu">
  <ul>
	<li<% if request.path_parameters[:action] == 'list' %> class="active"<% end %>>
	  <h3><%= link_to t(:activity_record), :controller => :logs, :action => :list %></h3>
	</li>
	<li<% if request.path_parameters[:action] == 'report' %> class="active"<% end %>>
	  <h3><%= link_to t(:broken_page_reporter), :controller => :broken_page_reporter, :action => :report  %></h3>
	</li>
	<li<% if request.path_parameters[:action] == 'move' %> class="active"<% end %>>
	  <h3><%= link_to t(:move_to_another_computer), :controller => :move_uid, :action => :move  %></h3>
	</li>
	<li<% if request.path_parameters[:action] == 'remove' %> class="active"<% end %>>
	  <h3><%= link_to t(:remove_from_this_compter), :controller => :remove_uid, :action => :remove  %></h3>
	</li>
  </ul>
</div>
